{% raw %}{% load wagtailcore_tags %}
{% comment %}
  This recipe is originally from the Wagtail demo site. The article on the
  Wagtail Read the Docs about 'theory' is potentially a helpful starting point
  http://docs.wagtail.io/en/v1.8/reference/pages/theory.html
{% endcomment %}
{% if ancestors %} 
 <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs" >
        {% for ancestor in ancestors %}
          {% if forloop.last %}
            <li>
              {{ ancestor }}
            </li>
          {% else %}
            <li><a href="{% pageurl ancestor %}">{{ ancestor }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
  </nav>
{% endif %}{% endraw %}
