{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<div class="list">
	{% for person in people %}
	<div class="list-item">
		<div class="image">
		{% image person.image width-400 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
        </div>
        {# end image #}

		<h2><a href="{{ person.url }}">{{ person.title }}</a></h2>

        <div class="text">
        <p>Location:
        {% for place in person.location  %}
        	{{ place.title }}
        {% endfor %}</p>
        </div>
    </div>
	{% endfor %}
</div>
{% endblock %}
