{% raw %}{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<content>
<h1>{{ page.title }}</h1>
<div class="locations list grid-parent">
    {% for location in locations %}
    <div class="list-item list-3">
        <div class="image">
        {% image location.image fill-400x168-c100 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
        </div>
        {# end image #}

        <div class="text">
        <h2><a href="{{ location.url }}">{{ location.title }}</a></h2>
        <ul class="people">
            {% for person in location.people  %}
            {% comment %}@TODO create urls.py to use child reference to link to parent{% endcomment %}
                <li class="person">
                {% image person.image fill-100x100-c100 as person_photo %}
                    <a href="{{ person.url }}"><img src="{{ person_photo.url }}" width="{{ person_photo.width }}" height="{{ person_photo.height }}" alt="{{ person_photo.alt }}" title="{{ person.title }}" /></a>
                <small><a href="{{ person.url }}">{{ person.title }}</a></small></li>
            {% endfor %}
        </ul>
        </p>
        </div>
    </div>
    {% endfor %}
</div>
</content>
{% endblock %}{% endraw %}