{% raw %}{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<content>
		<h1>{{ page.title }}</h1>

		<div class="image">
        {% image page.image width-400 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
        </div>
        {# end image #}

        <h3>Skills</h3>
        <ul class="skills">
        {% for skill in page.skills  %}
            <li><a href="{{ skill.url }}">{{ skill.title }}</a></li>
        {% endfor %}
        </ul>

        <h4>Role</h4>
        {% for status in page.employment %}
            {{ status }}
        {% endfor %}
        
        <h4>Location</h4>
        {% for place in page.location %}
            <a href="{{place.url}}">{{ place.title }}</a>
        {% endfor %}

        <h4>Biography</h4>
        {{ page.body }}
</content>
{% endblock %}
{% endraw %}
