{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
		{{ page.title }}

		{% image page.image width-400 as photo %}
              <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
        {# end image #}
        
        <ul class="people">
        {% for people in page.skills_person_relationship.all  %}
        	<li><a href="{{people.url}}">{{ people.title }}</a></li>
        {% endfor %}
        </ul>
{% endblock %}
